[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "DirectedClustering"]
	path = DirectedClustering
	url = https://github.com/gianpaoloclemente/directedclustering
